.contact-form
{

}

.contact-form input
{
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.contact-form-submit
{
	padding: 1rem;
	margin: 1rem;
	font-size: 2rem;
	border: 0px solid white;
	cursor: pointer;
}

.contact-form-submit
{
  color: #fff; //text kleur
  background-color: #ff9664; //kleur knop
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.5), inset 0 -2px 0 rgba(0,0,0,.25), inset 0 -3px 0 rgba(255,255,255,.2), 0 1px 0 rgba(0,0,0,.1);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.5), inset 0 -2px 0 rgba(0,0,0,.25), inset 0 -3px 0 rgba(255,255,255,.2), 0 1px 0 rgba(0,0,0,.1);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.5), inset 0 -2px 0 rgba(0,0,0,.25), inset 0 -3px 0 rgba(255,255,255,.2), 0 1px 0 rgba(0,0,0,.1);
}

.contact-form-submit:hover
{
	background-color: #ffac87; //kleur wanneer je hovert over knop
}

textarea
{
	resize: none;
}
