
/*.header-menu-container
{
  width: 100%;
  height: auto;
  position: fixed;
  z-index: 10;
  background-color: $header-container-color;
  -webkit-box-shadow: 0px 1px 10px 0px rgba(158,158,158,0.8);
  -moz-box-shadow: 0px 1px 10px 0px rgba(158,158,158,0.8);
  box-shadow: 0px 1px 10px 0px rgba(158,158,158,0.8);
}
*/
.header-menu-container
{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 10;
  background-color: $header-container-color;
}

.header-menu-container figure
{
  padding: 1rem;
  flex: 1 0 45%;
}

.header-menu-container figure img
{
  height: 3rem;
}

.header-menu-list
{
  font-size: 0; // http://stackoverflow.com/questions/14958606/css-html-horizonal-list-remove-this-mystery-gap-between-list-items-see-pic
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 45%;
  margin-right: 1rem;
}

.header-menu-list span
{
  padding: 0.5rem 0 0.5rem 0;
  flex: 1 0 25%;
}

.header-menu-list span:hover .header-menu-list-item
{
  background-color: lightgrey;
  border-radius: 5px;
}

.menu-list-item-rightborder
{
  border-right: 1px solid black;
}

.menu-list-item-rightborder li
{
  width: 75%;
  margin: auto;
  padding: 0.5rem;
}

.header-menu-list > span:last-child > .menu-list-item-rightborder// http://stackoverflow.com/questions/11298713/css3-to-get-the-last-li-from-the-top-level-list-in-a-nested-ul
{
  border: none;
}

.header-menu-list-item
{
  font-size: 2rem;
  flex: 1 0 25%;
  text-align: center;
}

.header-image
{
  width: 100%;
  margin-top: 5rem;
  margin-bottom: 2rem;
  position: relative;
}

.header-image img
{
  max-width: 100%;
}
