.main-content-container
{
  width: 90%;
  font-size: 2rem;
  margin: auto;
  padding: 1rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.main-content-section-container
{
  width: 100%;
  padding: 1rem;
}

.section-container-header
{
  border-bottom: 1px solid black;
  font-size: 3rem;
  padding-bottom: 1rem;
}

.section-container-content
{
  font-size: 1.6rem;
  margin-top: 1rem;
  min-height: 200px;
  line-height: 2rem;
}

.section-container-image
{
  float: right;
  width: 25%;
  margin-left: 1rem;
}

.section-container-image img
{
  max-width: 100%;
}

.section-nested-list > li
{
  margin-bottom: 2rem;
}

.section-nested-list li > ul
{
  margin-top: 1rem;
  margin-left: 1rem;
}
