.main-content-container
{
  width: 90%;
  font-size: 2rem;
  font-weight: 300;
  margin: auto;
  padding: 1rem;
  display: block;
  @include displayFlex(center, center);
  flex-flow: column;
}

// user agent Safari 7.1.2 / iPhone4 display flexbox is borked. Tested in Safari with user agent:
// Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_2 like Mac OS X) AppleWebKit/537.51.2 (KHTML, like Gecko) Version/7.0 Mobile/11D257 Safari/9537.53

.main-content-section-container
{
  width: 100%;
  padding: 1rem;
}

.section-container-header
{
  border-bottom: 1px solid black;
  font-size: 3rem;
  font-weight: 600;
  padding-bottom: 1rem;
}

.section-container-content
{
  font-size: 1.6rem;
  margin-top: 1rem;
  min-height: 200px;
  line-height: 2rem;
}

.section-container-image
{
  float: right;
  width: 25%;
  margin-left: 1rem;
  display: block;
}

.section-container-image img
{
  max-width: 100%;
}

.section-nested-list > li
{
  margin-bottom: 2rem;
}

.section-nested-list li > ul
{
  margin-top: 1rem;
  margin-left: 1rem;
}

.display-flex
{
  @include displayFlex(space-between, none);
  flex-wrap: wrap;
}

@include responsiveLayoutMobile()
{
  .section-container-image
  {
    display: none;
  }
};
