/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,600");
/* Mobile phones */
/* Normal tablets */
/* Big tablets and tablets in landscape mode */
/* Nexus 7 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*.header-menu-container
{
  width: 100%;
  height: auto;
  position: fixed;
  z-index: 10;
  background-color: $header-container-color;
  -webkit-box-shadow: 0px 1px 10px 0px rgba(158,158,158,0.8);
  -moz-box-shadow: 0px 1px 10px 0px rgba(158,158,158,0.8);
  box-shadow: 0px 1px 10px 0px rgba(158,158,158,0.8);
}
*/
.site-container {
  background-image: url("../images/bg-noise-01.png");
  background-repeat: repeat;
  margin: 0;
  padding: 0;
}

.header-menu-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 10;
  background-color: #f2f2f2;
  -webkit-box-shadow: 0px 1px 10px 0px rgba(158, 158, 158, 0.8);
  -moz-box-shadow: 0px 1px 10px 0px rgba(158, 158, 158, 0.8);
  box-shadow: 0px 1px 10px 0px rgba(158, 158, 158, 0.8);
}

.header-menu-container figure {
  flex: 1 0 45%;
}

.header-menu-container figure img {
  height: 5rem;
  padding: 0.5rem;
}

.header-menu-list {
  font-size: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 45%;
  margin-right: 1rem;
}

.header-menu-list span {
  padding: 0.5rem 0 0.5rem 0;
  flex: 1 0 25%;
}

.header-menu-list span:hover .header-menu-list-item {
  background-color: lightgrey;
  border-radius: 2px;
}

.menu-list-item-rightborder {
  border-right: 1px solid black;
}

.menu-list-item-rightborder li {
  width: 75%;
  margin: auto;
  padding: 0.5rem;
}

.header-menu-list > span:last-child > .menu-list-item-rightborder {
  border: none;
}

.header-menu-list-item {
  font-size: 2.5rem;
  flex: 1 0 25%;
  text-align: center;
}

.header-image {
  width: 100%;
  margin-bottom: 2rem;
  position: relative;
}

.header-image img {
  max-width: 100%;
}

@media (min-width: 240px) and (max-width: 767px) and (min-height: 240px) and (max-height: 767px) and (-webkit-min-device-pixel-ratio: 1) {
  .header-menu-container figure {
    flex: 1 0 20%;
  }

  .header-menu-container figure img {
    height: 2rem;
  }

  .header-menu-list {
    flex: 1 0 70%;
    margin-right: 0;
  }

  .header-menu-list-item {
    font-size: 1.5rem;
  }
}
.main-content-container {
  width: 90%;
  font-size: 2rem;
  margin: auto;
  padding: 1rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.main-content-section-container {
  width: 100%;
  padding: 1rem;
}

.section-container-header {
  border-bottom: 1px solid black;
  font-size: 3rem;
  padding-bottom: 1rem;
}

.section-container-content {
  font-size: 1.6rem;
  margin-top: 1rem;
  min-height: 200px;
  line-height: 2rem;
}

.section-container-image {
  float: right;
  width: 25%;
  margin-left: 1rem;
  display: block;
}

.section-container-image img {
  max-width: 100%;
}

.section-nested-list > li {
  margin-bottom: 2rem;
}

.section-nested-list li > ul {
  margin-top: 1rem;
  margin-left: 1rem;
}

@media (min-width: 240px) and (max-width: 767px) and (min-height: 240px) and (max-height: 767px) and (-webkit-min-device-pixel-ratio: 1) {
  .section-container-image {
    display: none;
  }
}
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 67.5%;
  color: black;
  overflow-x: hidden;
}

a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/*

strong
{
		font-weight: 700;
}

h1
{
	font-size: 3.5rem;
}

h2
{
	font-size: 3rem;
}

h3
{
	font-size: 2.5rem;
}

h4
{
	font-size: 2rem;
}

h5
{
	font-size: 1.6rem;
}

h6
{
	font-size: 1rem
}

.header-container
{
  width: 100%;
  height: 512px;
	overflow: hidden;
	position: relative;
}

@include responsiveLayoutMobile
{
	.header-container
	{
		height: 192px;
	}
}

@include responsiveLayoutTablet
{
	.header-container
	{
		height: 384px;
	}
}

@include responsiveLayoutNexusSeven
{
	.header-container
	{
		height: 256px;
	}
}

.header-container img
{
	width: 100%;
}

.header-title
{
	position: absolute;
	top: 1rem;
	left: 1rem;
}

.header-title img
{
	width: 66.66%;
}

.nav-container
{
  width: 100%;
  height: auto;
	text-align: center;
	margin-bottom: 2rem;
	background-color: rgba(255, 150, 0, 0.21); //dit is de kleur voor de gehele nav bar (het menu)
}

.nav-container li
{
	display: inline-block;
	border-radius: 5px; //dit geeft rounded corners aan de menu items. Hoe hoger het getal, hoe ronder
	padding: 1rem;
	margin-right: 1rem;
	font-size: 2.5rem;
}

.nav-container li:hover
{
	background-color: #D1C5B8; //dit is de hover kleur voor menu items
}

.content-container
{
	width: 90%;
	margin: auto;
	@include displayFlex(row wrap);
  flex: 1 1 0px;
	font-size: 1.4rem;
	line-height: 1.5;
	text-align: center;
	justify-content: center;
}

.content-container h4
{
	margin: 1rem;
	padding: 1rem;
}

@include responsiveLayoutMobile
{
	.content-container h4
	{
		padding: 0;
	}

	.nav-container li
	{
		font-size: 2rem;
	}
}

@include responsiveLayoutTablet
{
	.content-container h4
	{
		padding: 0;
	}
}

.content-container ul, li, p
{
	font-size: 1.6rem;
}

.about-me-section
{
  order: 1;
  flex: 2 2 0px;
  padding: 1rem;
	margin: 1rem;
}

.about-me-section p, .about-me-section ul
{
  padding: 1rem;
  margin: 1rem;
	list-style-type: circle;
}

.about-me-section li
{
	margin: 1rem;
  margin-left: 3rem;
}

@include responsiveLayoutMobile
{
	.about-me-section p, .about-me-section ul
	{
	  padding: 0;
	}
}

@include responsiveLayoutTablet
{
	.about-me-section p, .about-me-section ul
	{
	  padding: 0;
	}
}

.about-me-section img
{
	max-width: 100%;
	margin: 1rem;
	-webkit-box-shadow: 0px 0px 15px -1px rgba(148,135,114,1);
	-moz-box-shadow: 0px 0px 15px -1px rgba(148,135,114,1);
	box-shadow: 0px 0px 15px -1px rgba(148,135,114,1);
}

.sidebar-container
{
  order: 2;
  flex: 1 1 0px;
	margin: 1rem;
  padding: 1rem;
	font-size: 1.6rem;
	text-align: center;
}

.sidebar-container h5
{
  padding: 0;
  margin: 0;
}

.sidebar-photo-container
{
	display: flex;
	flex-direction: column;
	width: 80%;
	height: auto;
	float: right;
}

.sidebar-photo-container img
{
	max-width: 100%;
	margin: 1rem;
}

.contact-form
{
	text-align: center;
}

.contact-form input
{
	margin: 1rem;
}

.contact-form-submit
{
	padding: 1rem;
	margin: 1rem;
	font-size: 2rem;
	border: 0px solid white;
	cursor: pointer;
}

.contact-form-submit
{
  color: #fff; //text kleur
  background-color: #ff9664; //kleur knop
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.5), inset 0 -2px 0 rgba(0,0,0,.25), inset 0 -3px 0 rgba(255,255,255,.2), 0 1px 0 rgba(0,0,0,.1);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.5), inset 0 -2px 0 rgba(0,0,0,.25), inset 0 -3px 0 rgba(255,255,255,.2), 0 1px 0 rgba(0,0,0,.1);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.5), inset 0 -2px 0 rgba(0,0,0,.25), inset 0 -3px 0 rgba(255,255,255,.2), 0 1px 0 rgba(0,0,0,.1);
}

.contact-form-submit:hover
{
	background-color: #ffac87; //kleur wanneer je hovert over knop
}

textarea
{
	resize: none;
}

.footer-container
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
	height: 5%;
	text-align: center;
}

.social-media-container
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 50%;
	margin: auto;
}

.social-media-container img
{
	height: 5rem;
	padding: 1rem;
}

*/

/*# sourceMappingURL=style.css.map */
