/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600");
/* Mobile phones */
/* Normal tablets */
/* Big tablets and tablets in landscape mode */
/* Nexus 7 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.site-container {
  background-image: url("../images/bg-noise-01.png");
  background-repeat: repeat;
  margin: 0;
  padding: 0;
}

.header-menu-container {
  width: 100%;
  height: 5rem;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  position: fixed;
  z-index: 10;
  background-color: #f2f2f2;
  -webkit-box-shadow: 0px 1px 10px 0px rgba(158, 158, 158, 0.8);
  -moz-box-shadow: 0px 1px 10px 0px rgba(158, 158, 158, 0.8);
  box-shadow: 0px 1px 10px 0px rgba(158, 158, 158, 0.8);
}

.header-menu-container figure {
  flex: 1 0 45%;
}

.header-menu-container figure img {
  height: 4rem;
  padding: 0.5rem;
}

.header-menu-list {
  font-size: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  flex: 1 0 45%;
  margin-right: 1rem;
}

.header-menu-list span {
  padding: 0.5rem 0 0.5rem 0;
  flex: 1 0 25%;
}

.menu-list-item-rightborder li {
  width: auto;
  margin: auto;
  padding: 0.5rem;
}

.header-menu-list span:hover .header-menu-list-item {
  background-color: lightgrey;
  border-radius: 2px;
  width: 75%;
}

.menu-list-item-rightborder {
  border-right: 1px solid black;
}

.header-menu-list > span:last-child > .menu-list-item-rightborder {
  border: none;
}

.header-menu-list-item {
  font-size: 2.5rem;
  font-weight: 400;
  flex: 1 0 25%;
  text-align: center;
}

.header-image {
  width: 100%;
  margin-bottom: 2rem;
  position: relative;
}

.header-image img {
  max-width: 100%;
}

@media (min-width: 240px) and (max-width: 767px) and (min-height: 240px) and (max-height: 767px) and (-webkit-min-device-pixel-ratio: 1) {
  .header-menu-container figure {
    flex: 1 0 10%;
  }

  .header-menu-container figure img {
    height: auto;
    width: 100%;
    padding-left: 0.25rem;
    vertical-align: middle;
  }

  .header-menu-list {
    flex: 1 0 80%;
    margin-right: 0;
  }

  .header-menu-list-item {
    font-size: 1.5rem;
  }

  .header-menu-list span:hover .header-menu-list-item {
    width: auto;
  }

  .header-image {
    margin-bottom: 0;
  }

  .header-image img {
    margin-top: 5rem;
  }
}
@media (min-width: 600px) and (max-width: 960px) and (min-height: 600px) and (max-height: 960px) and (-webkit-min-device-pixel-ratio: 1) {
  .header-menu-container figure {
    flex: 1 0 10%;
  }

  .header-menu-container figure img {
    height: auto;
    width: 100%;
    padding-left: 0.25rem;
    vertical-align: middle;
  }

  .header-menu-list {
    flex: 1 0 80%;
    margin-right: 0;
  }

  .header-menu-list-item {
    font-size: 1.5rem;
  }

  .header-menu-list span:hover .header-menu-list-item {
    width: auto;
  }
}
.main-content-container {
  width: 90%;
  font-size: 2rem;
  font-weight: 300;
  margin: auto;
  padding: 1rem;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  flex-flow: column;
}

.main-content-section-container {
  width: 100%;
  padding: 1rem;
}

.section-container-header {
  border-bottom: 1px solid black;
  font-size: 3rem;
  font-weight: 600;
  padding-bottom: 1rem;
}

.section-container-content {
  font-size: 1.6rem;
  margin-top: 1rem;
  min-height: 200px;
  line-height: 2rem;
}

.section-container-image {
  float: right;
  width: 25%;
  margin-left: 1rem;
  display: block;
}

.section-container-image img {
  max-width: 100%;
}

.section-nested-list > li {
  margin-bottom: 2rem;
}

.section-nested-list li > ul {
  margin-top: 1rem;
  margin-left: 1rem;
}

.display-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: none;
  align-items: none;
  flex-wrap: wrap;
}

@media (min-width: 240px) and (max-width: 767px) and (min-height: 240px) and (max-height: 767px) and (-webkit-min-device-pixel-ratio: 1) {
  .section-container-image {
    display: none;
  }
}
.contact-form {
  flex: 0 0 40%;
}

.contact-form input {
  margin-bottom: 2.5rem;
  width: 100%;
}

.contact-form h4 {
  font-weight: 400;
  float: left;
}

.contact-form-submit {
  padding: 1rem;
  margin: 1rem;
  font-size: 2rem;
  border: 0px solid white;
  cursor: pointer;
}

.contact-form-submit {
  color: #fff;
  background-color: #ff9664;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 -2px 0 rgba(0, 0, 0, 0.25), inset 0 -3px 0 rgba(255, 255, 255, 0.2), 0 1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 -2px 0 rgba(0, 0, 0, 0.25), inset 0 -3px 0 rgba(255, 255, 255, 0.2), 0 1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 -2px 0 rgba(0, 0, 0, 0.25), inset 0 -3px 0 rgba(255, 255, 255, 0.2), 0 1px 0 rgba(0, 0, 0, 0.1);
}

.contact-form-submit:hover {
  background-color: #ffac87;
}

textarea {
  resize: none;
  width: 100%;
}

input[type="submit"] {
  width: auto;
  padding: 2rem;
}

.contact-socialmedia-container {
  flex: 0 0 40%;
  text-align: center;
}

.contact-socialmedia-container header {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.contact-socialmedia-icons {
  display: inline-block;
}

.contact-socialmedia-container img {
  width: 75px;
  margin: 1rem;
  vertical-align: middle;
}

.contact-form-input-border {
  border-width: 1px;
  border-color: darkgrey;
  border-style: solid;
}

.greenValidate {
  transition: border-color 0.25s linear;
  border-color: green;
  border-style: solid;
  border-width: 1px;
}

.redInvalid {
  transition: border-color 0.25s linear;
  border-color: red;
  border-style: solid;
  border-width: 1px;
}

.contact-form-errormessage {
  font-size: 1.4rem;
  font-weight: 600;
  float: right;
}

@media (min-width: 240px) and (max-width: 767px) and (min-height: 240px) and (max-height: 767px) and (-webkit-min-device-pixel-ratio: 1) {
  .contact-form {
    flex: 0 0 100%;
    margin: auto;
    text-align: center;
  }

  .contact-socialmedia-container {
    flex: 0 0 100%;
  }

  .contact-socialmedia-container img {
    width: 50px;
  }

  .contact-form-errormessage {
    float: none;
    display: block;
  }
}
.footer-container {
  width: 90%;
  height: auto;
  margin: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: none;
  align-items: none;
}

.footer-section {
  font-size: 1rem;
  padding: 1rem;
}

html {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 67.5%;
  color: black;
  width: 100%;
}

body {
  overflow-x: hidden;
}

a {
  color: black;
  text-decoration: none;
  cursor: pointer;
  display: block;
}

/*# sourceMappingURL=style.css.map */
