/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

@import "partials/base";
@import "partials/reset";
@import "partials/header";
@import "partials/main-content";
@import "partials/contact-form";
@import "partials/footer";

html
{
  margin: 0;
  padding: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 67.5%;
	color: black;
  width: 100%;
}

body
{
  overflow-x: hidden;
}

a
{
	color: black;
	text-decoration: none;
	cursor: pointer;
  display: block;
}
